/data/*
!/data/readme.md
/venv
/static/uploads/*
/static/filter/*
!/static/filter/noise.jpg
/static/generated/*
!/static/generated/sample.jpg
/static/filter/*
!/static/filter/stop.jpg
/__pycache__
/models/*.pt