<!DOCTYPE html>
<html>
    <head>
        <title>Fake Smart Adversarial Machine Learning</title>
    </head>
    <body>
        <div class="dropdown", style="text-align: center;">
            <label for="desired-misclass">Choose your desired misclassification:</label>
            <select name="misclasses" id="misclasses">
                <option value="stop">Stop Sign</option>
                <option value="traffic">Traffic Light</option>
                <option value="speed">Speed Sign</option>
                <option value="crosswalk">Crosswalk</option>
            </select>
        </div>
        <br>
        <form method="post" action="/" enctype="multipart/form-data", style="text-align: center;">
            <input type="file" id="myFile" name="file">
            <input type="submit">
        </form>
        <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </p>
        {% if filename %}
            <div, style="text-align: center;">
                <img src="{{ url_for('display_image', filename=filename) }}" width="35%">
            </div>
            <div, style="text-align: center;">
                <img src="/static/images/noise.jpg" width="20%">
            </div>
            <div, style="text-align: center;">
                <img src="{{ url_for('display_image', filename=filename) }}" width="35%">
            </div>
        {% endif %}
    </body>
</html>