<!DOCTYPE html>
<html>
    <head>
        <title>Adversarial Machine Learning - Fake Smart</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='website.css') }}">
    </head>
    <form method="post" action="/" enctype="multipart/form-data", style="text-align: center;">
        <body>
            <h1>Adverserial Machine Learning</h1>
            <div id="main">
                <div id="input">
                    <h4>Upload your image</h4>
                    <input type="file" id="myFile" name="file">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <h4>{{ message }}</h4>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% if input %}
                        <img src="{{ url_for('input_image', inputname=input.inputname) }}" width="35%">
                        <h5>File Name      : {{input.inputname}}</h5>
                        <h5>Classification : {{input.classification}}</h5>
                        <h5>Confidence     : {{input.confidence}} %</h5>
                    {% endif %}
                </div>
                <div id="filter">
                    <h4>Choose your Attack</h4>
                    <select name="selected">
                        {% for f in data %}
                        <option value="{{f.name}}">{{f.name}}</option>
                        {% endfor %}
                    </select>
                    <select name="epsilon">
                        {% for f in epsilon %}
                        <option value="{{f.name}}">{{f.name}}</option>
                        {% endfor %}
                    </select>
                    <h5 text-align="center">For Carlini Wagner Attack, the epsilon value does not matter. ALSO, DO NOT REFRESH if you choose it. Takes awhile to generate the output.</h4>
                    {% if attack %}
                        <br><br><br>
                        <h5>Noise generated:</h5>
                        <img src="{{ url_for('filter_image', filtername=attack.noise) }}" width="35%">
                        <h5>Attack Selected  : {{attack.attackSelected}}</h5>
                        <h5>Epsilon Value    : {{attack.epsilon}}</h5>
                    {% endif %}
                </div>
                <div id="output">
                    <h4>Output Classification & Image</h4>
                    <button type="submit">Generate</button>
                    {% if output %}
                        <br><br><br>
                        <img src="{{ url_for('output_image', outputname=output.outputname) }}" width="35%">
                        <h5>File Name      : {{output.outputname}}</h5>
                        <h5>Classification : {{output.classification}}</h5>
                        <h5>Confidence     : {{output.confidence}}</h5>
                    {% endif %}
                </div>
            </div>
        </body>
    </form>
</html>
